body{background-image: url(https://i.gifer.com/7e44.gif);
background-repeat: no-repeat;
background-size: cover;}
button{background-color: rgba(92, 18, 33, 0.603);
    color: aqua;width: 
    345px;font-size: 50px;border-color: rgb(66, 133, 133);margin: 3px;margin-bottom: 56px;}